Options -Indexes
<IfModule mod_rewrite.c>
  RewriteEngine On
  # Route all requests to /public, except if already targeting /public
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
